.clear{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    clear: both;
}
/* menu */
.attached{
	position: fixed;
	top:0 ;
}
a.clientes-hover{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding-top: 46%;
	display: none;
}
.slide_type1 .producto:hover a.clientes-hover{
	display: block;
}
#clientes .bx-wrapper .bx-controls-direction a{
	top: 39%;
}
a.clientes-hover span{
	width: 100px;
	height: 30px;
	color: #fff;
	border: 1px solid #fff;
	padding: 8px 30px;
	text-transform: uppercase;
}
a.clientes-hover span:hover,a.clientes-hover:hover{
	text-decoration: none;
}
#banner_home{
		position: absolute;
	}
#sticky{
	position: fixed;
	left: 0;
	right: 0;
	z-index:1000;
	top: 20px;
	margin: 0 auto;
	width: 1170px;
	height: 0px;
}
.header-content{
	z-index: 999;
}
.tab-content .tab-pane{
	height:300px;
}
.navbar-nav li ul.sub-menu{
	display: none;
	list-style-type: none;
    position: absolute;
    min-width: 100%;
    width: auto !important;
    height: auto!important;
    line-height: 30px;
    padding: 10px 0px 0px;
}
.navbar-nav li ul.sub-menu li{
	display: block;
    background: rgb(237, 237, 237);
    color: #555555;
    width: 100%;
    height: auto;
    padding: 0em 0em 0em 0em;
}
.navbar-nav li ul.sub-menu li a{
	font-size: 13px;
    display: block;
    color: #555555 !important;
    padding: 0.4em 0.3em 0.4em 0.7em;
    white-space: nowrap;
    background: none;
}
.navbar-nav li:hover ul{
	display: block;
}
ul li a:hover{
	text-decoration: none;
}

/* Header */
#header {
	width:100%;
  	position: relative;
	z-index: 10;
}
.home .navbar-nav>li.first{
	display: none;
}
body.home #header {
	height: 570px;
}
.slide_type1{
		height: 350px;
	}

.slide_type1 .producto{
	margin-bottom:10px;
	border:1px solid #aaaaaa;
	position: relative;
	}

.slide_type1{
	display: block;
	height: 515px;
	width: 300px;
}
div.wpcf7-validation-errors, div.wpcf7-response-output {
	background-color: #ededed;
	border-radius: 4px;
	border: none!important;
	color: #000 !important;
	font-family: 'Oswald';
	position: absolute;
	top: 53px;
	font-size: 12px;
	width: 88%;
	left: 4%;
}
#contact_form div.wpcf7 img.ajax-loader{
	width: 20px;
	position: absolute;
	bottom: 40px;
	left: 120px;
}
#contact_form{
	width:380px; 
	background-color: rgba(0,0,0,0.7);
	position: absolute; 
	top: 5%; 
	right: 120px;
	padding: 20px;
}
#contact_form .use-floating-validation-tip span.wpcf7-not-valid-tip{
	width: 200px !important;
}
#contacto div.wpcf7 img.ajax-loader{
	top: 22px;
	width: 18px;
	position: absolute;
}
#contacto div.wpcf7-validation-errors {
	position: absolute;
	top: 0px;
	padding: 0px 0px;
	margin: 0px 0px;
	text-align: center;
	border-radius: 0px 0px 5px 5px;
	z-index: 100;
	left: 35px;
}
#contacto div.wpcf7-mail-sent-ok{
	position: absolute;
	top: 0px;
	z-index: 100;
	width: 262px;
	left: 91px;
	padding: 2px 0px;
	margin: 0px;
	text-align: center;
	border: none !important;
	border-radius: 0px 0px 5px 5px;
}
span.wpcf7-form-control-wrap{
	display:block;
}
span.wpcf7-not-valid-tip {
	top: 6px!important;
	width: 250px !important;
	font-weight: 300;
	font-family: Oswald;
	left: 24% !important;
	border: none!important;
	background: transparent!important;
	padding: 1px!important;
	position:absolute;
	color: #fff !important;

}
input[type="text"],input{
	color: #fff;
}

#idioma{
	position: fixed;
	left: 0;
	right: 0;
	top: 20px;
	margin: 0 auto;
	z-index: 1000;
	width: 1170px;
	height: 0px;
	text-align: right;
}
#idioma #lang_sel_click{
	font-family: oswald;
    height: 30px;
	display: inline-block;
	font-size: 15px;
    top: 9px;
	text-align: center;
}
#idioma #lang_sel_click li{
	width: 80px;
}
#idioma #lang_sel_click a{
	font-size: 15px;
}
#idioma #lang_sel_click a.lang_sel_sel{
	background: url('../assets/nav-arrow-down.png') transparent right no-repeat;  
	border: none;
	color: #efc33d;
	padding: 0px 0px 0px 0px;
}
#idioma #lang_sel_click ul ul{
    width: 100%;
}
#idioma #lang_sel_click ul ul a{
	background: #a43628;
	color: #FFF;
}

#idioma #lang_sel_click a.lang_sel_sel:hover{
	background: url('../assets/nav-arrow-down.png') transparent right no-repeat;
}
#menu{
	width:100%;
	height: 80px;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 0px;
	text-transform: uppercase;
}
#menuJunior{
	margin-top: 15px;
}
#menuTheThird{
	background: transparent;
	border: none!important;
	margin-right: 110px;
}
#menuTheThird ul li a {
	color: white;
	font-size: 15px;
	line-height: 25px;
	font-family: 'oswald';
	font-weight: 300;
}
#menuTheThird ul li a:hover {
	color: #efc33d;
}
#social{
	width:29px;
	position: fixed;
	right: 0px;
	top: 35%;
	background: rgba(0, 0, 0, 0.5);  	
  	z-index: 100;
  	-webkit-transform: translateZ(0px);
}
#social ul{
	list-style: none;
	padding: 0px!important;
	margin: 10px 0px;
	position: relative;
}
#social ul:after{
	content: "";
	background: url('../assets/images/borde_inf_social.png') no-repeat bottom right;
	position: absolute;
	bottom: -20px;
	width: 29px;
	height: 10px;
}
#social ul:before{
	content: "";
	background: url('../assets/images/borde_sup_social.png') no-repeat top right;
	position: absolute;
	top: -19px;
	width: 29px;
	height: 9px;
}
#social ul li{
    text-align: center;
	margin-bottom: 10px;
}
#social ul li a{
	display: block;
}
.col-sm-3.concon.der ul{
	list-style: none;
	padding: 0px;
	margin: 15px auto 0px;
	display: block;
	width: 97px;
	height: 10px;
	float: none;
}
.col-sm-3.concon.der ul li{
	display: inline-block;
	float: left;
	margin: 0px 5px;
	opacity: 0.5;
}

/* Breadcrumbs */
.breadcrumbs{
  text-transform: uppercase;
  font-size: 15px;
  text-align: left;
  font-family: 'oswald';
  font-weight: 300;
  background: transparent !important;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #c41425;
}
.breadcrumbs a, .breadcrumbs a:hover{
  color: #aaaaaa;
}

/* home */

#contenido{
	width:100%;
}
#soluciones {
	padding-bottom: 50px;
	padding-top: 115px;
}
.tab-content{
	width: 100%;
	clear: both;
}
.col-xs-2.solucion{
	min-height: 260px;
}
.col-xs-2.solucion a:hover{
	text-decoration: none;
}
#soluciones h1 {
	width: 350px;
	border-bottom: 2px solid #be1116;
	text-align: center;
	font-size: 36px;
	color: #3c3c3c;
	font-family: 'oswald';
	font-weight: 300;
	margin: 0 auto;
	text-transform: uppercase;
	padding-bottom: 15px;
}
#soluciones h1 span {
	font-family: 'oswald';
	font-weight: 700;
}
#soluciones p {
	width: 875px;
	text-align: center;
	font-size: 15px;
	color: #aaaaaa;
	font-family: 'Titillium Web';
	font-weight: 200;
	margin: 40px auto;
}
#soluciones ul {
	text-align: center;
}
#soluciones ul li {
	display: inline-block;
	border: 1px solid #be1116;
	margin-right: 30px;
	min-width: 200px!important;
	width: auto;
	text-transform: uppercase;
	font-family: 'oswald';
	font-weight: 300;
	color: #be1116;
	font-size: 15px;
}
#soluciones ul li a {
	font-size: inherit;
	text-decoration: none;
	color: inherit;
	display: block;
	height: auto;
	padding: 15px 0;
}
#soluciones ul .current, #soluciones ul .active, #soluciones ul li:hover{
	background: #be1116;
	color:white;
	font-weight: 400;
	border: none;
}
.fade{
	-ms-transform: translate(50px,0px); 
    -webkit-transform: translate(50px,0px); 
    transform: translate(50px,0px);
    -webkit-transition:transform 0.3s linear, opacity 0.3s linear;
}
.fade.in{
	-ms-transform: translate(0px,0px); 
    -webkit-transform: translate(0px,0px); 
    transform: translate(0px,0px);
	-webkit-transition:transform 0.3s linear, opacity 0.3s linear;
	transition:transform 0.3s linear, opacity 0.3s linear;
}
#map-container{
	width:100%; height:608px; position:relative;
}
#map{
	width:100%; 
	height:608px;
}
 #map #info_mapa{
     max-width:195px;
     color: #fff;
     max-height: 140px;
     line-height:0.9;
     font-family:'oswald';
     font-weight: 100;
     padding-left: 10px !important;
 }
  #map #info_mapa p{
  	line-height: 1.5;
  }
 #map #info_mapa p:first-child{
     text-transform: uppercase;
     font-size: 19px;
     font-weight: 500;
 }
.solucion:hover svg path,
.solucion:hover svg ellipse,
.solucion:hover svg rect,
.solucion:hover svg polygon,
.solucion:hover svg circle,
.solucion:hover svg line{
    fill: white;
	stroke:white;
}
.solucion {
  padding-top: 15px;
}
.solucion a{
	text-decoration: none;
}
.solucion h2{
 	color: #3c3c3c;
	font-size: 16px;
	line-height: 25px;
	font-family: 'oswald';
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}
.solucion .bola {
	display: block;
	border-radius: 50%;
	width: 100%;
	padding-bottom: 100%;
	background: transparent;
	-webkit-transition: background 0.2s, -webkit-transform 0.2s;
	-moz-transition: background 0.2s, -moz-transform 0.2s;
	transition: background 0.2s, transform 0.2s;
	position: relative;
	border: 1px solid #3c3c3c;
	height: 150px;
}
.solucion:hover .bola{
	background: url('../assets/images/bgRound.jpg') no-repeat center center;
	border:1px solid transparent;
	box-shadow: 0 0 0 4px #fff;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	
}
.solucion .bola svg{
	position: relative;
	top: 25px;
	display: block;
	margin: 0px auto;
	width: 95px;
}
.solucion:hover h2{
 	color: #be1116;
 	text-decoration: none;
}
.bola img {
	position: absolute;
	left: 25%;
	top: 30%;
	width: 50%;
	height: auto;
}


#plataforma{
	background: url('../assets/images/bgPlataforma.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	padding-top: 45px;
}
#plataforma h1 {
	width: 350px;
	text-align: center;
	font-size: 36px;
	color: white;
	font-family: 'oswald';
	font-weight: 300;
	margin: 0 auto;
	text-transform: uppercase;
	padding-bottom: 15px;
}
#plataforma h1 span {
	font-family: 'oswald';
	font-weight: 700;
}
#plataforma p {
	width: 875px;
	text-align: center;
	font-size: 15px;
	color: white;
	font-family: 'Titillium Web';
	font-weight: 200;
	margin: 40px auto;
}
#rowPlataforma{
	margin-left: 0px!important;
	margin-right: 0px!important;
}
#plataforma .plataforma {
	position: relative;
	padding-left: 0px!important;
	padding-right: 0px!important;
}
#plataforma .plataforma img {
	width: 100%;
	height: auto;
}
#plataforma .plataforma h2 {
	position: absolute;
	min-width: 200px;
	text-transform: uppercase;
	font-size: 21px;
	color: white;
	font-family: 'oswald';
	font-weight: 300;
	display: block;
	background: rgba(0,0,0,0.6);
	top: 45%;
	left: 0px;
	right: 0px;
	width: 200px;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
	margin: 0 auto;
}
/*
#plataforma .plataforma a{
	width: 100%;
	height: 100%;
	display: block;
	cursor: pointer;
}
#plataforma .plataforma .hover_info {
	display: none;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.8;
	color: #FFF;
}
#plataforma .plataforma .hover_info h2 {
	position: absolute;
	text-transform: uppercase;
	font-size: 21px;
	color: white;
	font-family: 'oswald';
	font-weight: 700;
	top: 45%;
	left: 0px;
	right: 0px;
	width: 200px;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
	margin: 0 auto;
}
#plataforma .plataforma:hover .hover_info{
	display: block;
}#plataforma .plataforma:hover .hover_info h2{
	display: block!important;
}
*/
#plataforma .plataforma a {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	color: #FFF;
}
#plataforma .plataforma a h2 {
	position: absolute;
	text-transform: uppercase;
	font-size: 21px;
	color: white;
	font-family: 'oswald';
	font-weight: 700;
	top: 45%;
	left: 0px;
	right: 0px;
	width: 200px;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
	margin: 0 auto;
}
#plataforma .plataforma:hover a{
	display: block;
}#plataforma .plataforma:hover a h2{
	display: block!important;
}
#plataforma .plataforma:hover h2{
	display: none;
}

#clientes {
	padding-bottom: 50px;
	padding-top: 45px;
	border-bottom: 1px solid #aaaaaa;
}
#clientes h1 {
	width: 350px;
	border-bottom: 2px solid #be1116;
	text-align: center;
	font-size: 36px;
	color: #3c3c3c;
	font-family: 'oswald';
	font-weight: 300;
	margin: 0 auto;
	text-transform: uppercase;
	padding-bottom: 15px;
	margin-bottom: 40px;
}
#clientes h1 span {
	font-family: 'oswald';
	font-weight: 700;
	margin-bottom: 40px;
}
#clientes .cliente{
	width: 19%;
	height: auto;
	padding: 2px;
	display: inline-block;
}
#clientes .cliente .logo {
	display: block;
	width: 100%;
	height: 200px;
	position: relative;
	border: 1px solid #aaaaaa;
}
#clientes .cliente .logo img {
	width: 70%;
	height: auto;
	margin: 15% auto;
	display: block;
}
body.home .noticia a{
	display: block;
}
#noticias {
	padding-bottom: 50px;
	padding-top: 45px;
	border-bottom: 1px solid #aaaaaa;
}
#noticias h1 {
	width: 350px;
	border-bottom: 2px solid #be1116;
	text-align: center;
	font-size: 36px;
	color: #3c3c3c;
	font-family: 'oswald';
	font-weight: 300;
	margin: 0 auto;
	text-transform: uppercase;
	padding-bottom: 15px;
	margin-bottom: 40px;
}
#noticias h1 span {
	font-family: 'oswald';
	font-weight: 700;
	margin-bottom: 40px;
}
#noticias .noticia {
	border: 1px solid #aaaaaa;
	padding-left: 0px!important;
	padding-right: 0px!important;
	width: 30.3333333333%;
	margin-right: 1.5%;
	margin-left: 1.5%;
}
#noticias .noticia a:hover,
#noticias .noticia a:hover{
	text-decoration: none;
}
#noticias .noticia img {
	width: 100%;
	height: auto;
}
#noticias .noticia h3 {
	text-transform: uppercase;
	font-family: 'oswald';
	font-weight: 300;
	font-size: 21px;
	color:#3c3c3c;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
}
#noticias .noticia p {
	text-align: justify;
	font-family: 'Titillium Web';
	font-weight: 200;
	font-size: 15px;
	color:#444444;
	padding-left: 15px;
	padding-right: 15px;
	height:85px;
}
#noticias .noticia a.more {
	display: block;
	border: 1px solid #be1116;
	margin-right: 30px;
	min-width: 200px!important;
	width: 150px;
	padding: 10px 0;
	text-transform: uppercase;
	font-family: 'oswald';
	font-weight: 300;
	color: #be1116;
	font-size: 15px;
	text-align: center;
	margin: 30px auto;
}
#noticias .noticia a.more:hover {
	border: 1px solid transparent;
	background-color: #be1116; 
	color: white;
	text-decoration: none;
}
#contactanos{
	background: url('../assets/images/bgPlataforma.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	padding-top: 45px;
  	padding-bottom: 40px;
}
#contactanos h1 {
	width: 380px;
	text-align: center;
	font-size: 36px;
	color: white;
	font-family: 'oswald';
	font-weight: 300;
	margin: 0 auto;
	text-transform: uppercase;
	padding-bottom: 15px;
}
#contactanos h1 span {
	font-family: 'oswald';
	font-weight: 700;
}
#contactanos p {
	width: 875px;
	text-align: center;
	font-size: 15px;
	color: white;
	font-family: 'Titillium Web';
	font-weight: 200;
	margin: 40px auto;
}
#text_contact{
	font-family: 'oswald';
	font-size:30px;
	text-align:center;
	color:#FFF;
	text-transform:uppercase;
	margin:25px 0px 15px 0px;
}
.home input[type="text"], 
.home select{
	display:block;
	border:solid 1px #FFF;
	background: transparent;
	width:100%;
	margin:0px auto 15px;
	font-size:13px;
	font-family: 'oswald';
	font-weight:100;
	padding: 5px;
	color: #fff;
	text-transform: uppercase;
}
.home select{
	margin-bottom: 15px !important;
	display: block;
}
.home input[type="email"]{
	display:block;
	border:solid 1px #FFF;
	background: transparent;
	width:100%;
	margin: 0px auto 15px;
	font-size:13px;
	font-family: 'oswald';
	font-weight:100;
	padding: 5px;
	text-transform: uppercase;
	color: #fff;
}
.home textarea{
	text-transform: uppercase;
	padding: 5px;
	display:block;
	margin:0px auto 15px;
	border:solid 1px #FFF;
	background: transparent;
	resize:none;
	width:100%;
	height:100px;
	font-size:13px;
	font-family: 'oswald';
	font-weight:100;
	color: #fff;
}
.home #contact_form input[type="submit"]{
	width:150px;
	height:40px;
	background:#FFF;
	font-family: 'oswald';
	text-transform:uppercase;
	color:#be1116;
	font-weight:100;
	border:solid 1px #be1116;
	display:block;
	margin:0px auto;
	cursor:pointer;
	font-size:15px;
	outline:none;
}
input[type="submit"]{
	outline:none;
}
.home #contact_form input[type="submit"]:hover,
.page-id-127 input[type="submit"]:hover, 
.page-id-624 input[type="submit"]:hover{
	background:#be1116;
	color:#FFF;
	border:1px solid #FFF;
	padding-left:10px;
}
/* header internas */
#header2{
	width: 100%;
  	padding-top: 0px;
  	position: fixed;
  	z-index: 1;
}

#fondo{
	width: 100%;
	/*height: 400px;*/
	overflow: hidden;
	position:relative;
	display:block;
	/*max-height: 460px;*/
}
.img_movil{
	display: none;
}
#fondo img{
	width: 100%;
	z-index: 0;
	height: auto !important;
}
#fondo h1 {
	font-size: 50px;
	line-height: 69px;
	color: white;
	font-family: 'oswald';
	font-weight: 300;
	text-transform: uppercase;
	background-color: rgba(0,0,0,0.7);
	display: initial;
	padding-right: 10px;
	z-index: 10;
	padding-left: 10px;
}
#fondo h1 span{
	font-size: 50px;
	line-height: 65px;
	color: white;
	font-family: 'oswald';
	font-weight: 400;
	text-transform: uppercase;
	z-index: 10;
}
#fondo .tituloInterna {
	position: absolute;
	left: 0;
	right: 0;
	top: 180px;
}
#header2 h1 {
	font-size: 50px;
	line-height: 69px;
	color: white;
	font-family: 'oswald';
	font-weight: 300;
	text-transform: uppercase;
	background-color: rgba(0,0,0,0.7);
	display: initial;
	padding-right: 10px;
}
#header2 h1 span{
	font-size: 50px;
	line-height: 65px;
	color: white;
	font-family: 'oswald';
	font-weight: 400;
	text-transform: uppercase;
}
#header2 #social{
	top: 25%!important;
}

#header2 .headerInternas {
	height: 80px;
	width: 100%;
	background: rgba(0,0,0,0.6);
	padding-top: 20px;
}
#header2 .headerInternas #menu {
	width: auto;
	height: 0px;
	position: relative;
	background: transparent;
	margin-top: 8px;
}
#header2 .headerInternas #menu #menuJunior{
	margin-top: 0px;
}
#header2 .headerInternas #menu #menuJunior #menuTheThird ul li a{
	padding-top: 0px;
	padding-bottom: 0px;
}

/* Soluciones e interna */

#soluciones .breadcrumbs{
	margin-bottom: 40px;
}
#contPost{
	padding-right: 50px;
}
#contPost p{
	font-size: 15px;
	line-height: 21px;
	font-family: 'Titillium Web';
	font-weight: 200;
	color:#444444;
	text-align: justify;
}
 
#sidebar .solucion {
 	padding-top: 25px;
 	padding-left: 0px!important;
	padding-right: 0px!important;
}
#sidebar .solucion h2{
 	color: #3c3c3c;
	font-size: 16px;
	line-height: 25px;
	font-family: 'oswald';
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
}
#sidebar .solucion .bola {
	border-radius: 50%;
	width: 70%;
	padding-bottom: 70%;
	background: transparent;
	position: relative;
	border: 1px solid #c32529;
	margin: 0 auto;
}
#sidebar .solucion:hover .bola{
	background: url('../assets/images/bgRound.jpg') no-repeat center center;
	border:1px solid transparent;
}
#sidebar .solucion:hover h2{
 	color: #c32529;
}
#sidebar .bola img {
	position: absolute;
	left: 25%;
	top: 30%;
	width: 50%;
	height: auto;
}
#masSoluciones{
	background: url('../assets/images/bgPlataforma.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height:300px;
	overflow:hidden;
}
#masSoluciones h2{
	font-size: 28px;
	line-height: 60px;
	color:white;
	text-transform: uppercase;
	font-family: 'oswald';
	font-weight: 300;
	text-align: center;
}
#masSoluciones h2 span{
	font-family: 'oswald';
	font-weight: 400;
}
#masSoluciones h3 {
	font-size: 15px;
	line-height: 1;
	color: white;
	text-transform: uppercase;
	font-family: 'oswald';
	font-weight: 300;
	text-align: center;
	text-decoration: none;
}
#masSoluciones .col-xs-10, #masSoluciones .col-xs-10 .col-xs-6 {
	padding-left: 0px;
	padding-right: 0px;
}
#masSoluciones .solucion .bola {
  border-radius: 50%;
  width: 100%;
  padding-bottom: 100%;
  background: transparent;
  position: relative;
  border: 1px solid white;
  height: 110px;
}

/* Noticias */
#headerNoticias{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-color: rgba(0,0,0,0.7);
}
#headerNoticias .container{
	height: inherit;
}
#headerNoticias .row {
	display: inline-block;
	height: inherit;
	width: 100%;
}
/*#headerNoticias h1 {
	font-family: 'oswald';
	font-weight: 300;
	color: #e9e9ea;
	font-size: 30px;
	line-height: 45px;
	text-transform: uppercase;
	background: transparent;
	padding: 0;
	margin: 15px 0;
	height: 50px;
	width: 32%;
	display: inline-block;
	float: left;
	padding-left: 15px;
}
#headerNoticias h1 span{
	font-family: 'oswald';
	font-weight: 400;
	color: #e9e9ea;
	font-size: 30px;
	line-height: 45px;
}*/
#headerNoticias h1 {
	font-family: 'oswald';
	font-weight: normal;
	color: #e9e9ea;
	font-size: 22px;
	line-height: 1;
	text-transform: uppercase;
	background: transparent;
	padding: 15px 0px 5px;
	margin: 0;
	height: 50px;
	width: 75%;
	display: inline-block;
	float: left;
}
#headerNoticias h1 span {
	font-family: 'oswald';
	font-weight: 400;
	color: #e9e9ea;
	font-size: 22px;
	line-height: 1;
	padding: 0px;
	margin: 0px;
	display: block;
	text-align: left;
}
#headerNoticias p {
	font-family: 'Titillium Web';
	font-weight: 200;
	color: #e9e9ea;
	font-size: 15px;
	line-height: 21px;
	width: 25%;
	display: inline-block;
	height: 45px;
	float: left;
	margin: 15px 0 20px 0;
	overflow: hidden;
}
#headerNoticias a {
	display: inline-block;
	border: 1px solid #e9e9ea;
	width: 11.5%;
	padding: 10px 0;
	text-transform: uppercase;
	font-family: 'oswald';
	font-weight: 300;
	color: #e9e9ea;
	font-size: 15px;
	line-height: 19px;
	text-align: center;
	margin: 19px 0px 20px 25px;
	float: left;
}
#headerNoticias a:hover {
	color:rgba(0,0,0,0.7);
	background-color: #e9e9ea;
	border: 1px solid transparent;
	text-decoration: none;
}

#paginaNoticias .noticia{
	border: 1px solid #aaaaaa;
	padding-left: 0px!important;
	padding-right: 0px!important;
	width: 30%;
	display:inline-block;
	margin: 0px 1.5% 40px 1.5%;
	min-height: 574px;
	max-height: 632px;
}
#paginaNoticias .noticia img {
	width: 100%;
	height: auto;
	display:inline-block;
}
#paginaNoticias .noticia h3 {
	text-transform: uppercase;
	font-family: 'oswald';
	font-weight: 300;
	font-size: 21px;
	color:#3c3c3c;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	min-height:110px;
}
 .alm-listing li h3 {
	 padding-top:110%;
}
.image-news{
	display: block;
	height: 100%;
	overflow: hidden;
}
body.category-noticias .noticia .image-news{
	max-height: 289px;
}
#paginaNoticias .noticia p {
	text-align: left;
	font-family: 'Titillium Web';
	font-weight: 200;
	font-size: 15px;
	color:#444444;
	padding-left: 15px;
	padding-right: 15px;
	min-height: 105px;
}
#paginaNoticias .noticia a {
	display: block;
	border: 1px solid #be1116;
	margin-right: 30px;
	min-width: 200px!important;
	width: 150px;
	padding: 10px 0;
	text-transform: uppercase;
	font-family: 'oswald';
	font-weight: 300;
	color: #be1116;
	font-size: 15px;
	text-align: center;
	margin: 30px auto;
}
#paginaNoticias .noticia a:hover {
	border: 1px solid transparent;
	color:white;
	background-color: #be1116;
	text-decoration: none;
}

a.cargarMas, #load-more{
	display: block;
	float: right;
	width: 114px;
	background-color: #be1116;
	text-transform: uppercase;
	color: white;
	font-family: 'oswald';
	font-weight: 300;
	text-align: center;
	padding: 0px;
	border-radius:0px;
	cursor: pointer;
	border:1px solid transparent;
	margin-right: 1.4%;
}
a.cargarMas:hover, #load-more:hover{
	background-color: transparent;
	color: #be1116;
	border:1px solid #be1116;
	text-decoration: none;
}

/* Interna Noticias */
#paginaNoticiasInterna .container{
	padding-bottom: 40px;
}
#paginaNoticiasInterna .breadcrumbs{
	padding-left: 0px;
}
#paginaNoticiasInterna #contPost{
	padding-left: 0px;
	position:relative;
}
#paginaNoticiasInterna #sidebar{
	padding-left: 0px;
	padding-right: 0px;
}
.col-xs-10.internaNoticias{
	max-height: 310px;
	overflow: hidden;
	padding: 0px;
}
.internaNoticias{
	position: relative;
	padding: 0;
}
.internaNoticias img{
	height: auto;
	width: 100%;
}
.infoNoticia{
	position:absolute;
	width:100%;
	height: 80px;
	bottom: 0;
	background-color: rgba(0,0,0,0.7);
}
.infoNoticia h1 {
	font-family: 'oswald';
	font-weight: 300;
	color: #e9e9ea;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	background: transparent;
	padding: 0;
	margin: 15px 0px;
	height: 50px;
	width: 46%;
	display: inline-block;
	float: left;
	text-align: center;
	margin-left:30px;
}
.infoNoticia h1 span{
	font-family: 'oswald';
	font-weight: 400;
	color: #e9e9ea;
	font-size: 30px;
	line-height: 45px;
}
.col-xs-10 {
	margin: 0px;
	padding: 0px;
}
.infoNoticia p {
	font-family: 'Titillium Web';
	font-weight: 200;
	color: #e9e9ea;
	font-size: 15px;
	line-height: 21px;
	width: 40%;
	display: inline-block;
	height: 45px;
	float: left;
	margin: 15px 0 20px 0;
	overflow: hidden;
	margin-left:50px;
}

/* Plataforma */
#paginaPlataforma .container{
	padding-bottom:  40px;
}
#paginaPlataforma h2.sidebar{
	text-align: left;
}
#paginaPlataforma .plataforma{
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: 25px;
}
#paginaPlataforma .plataforma a{
	width: 100%;
	height: 100%;
	display: block;
	cursor: pointer;
}
#paginaPlataforma .plataforma img {
	width: 100%;
	height: auto;
}
#paginaPlataforma .plataforma h2 {
	position: absolute;
	min-width: 130px;
	text-transform: uppercase;
	font-size: 14px;
	color: white;
	font-family: 'oswald';
	font-weight: 300;
	display: block;
	background: rgba(0,0,0,0.6);
	top: 45%;
	left: 24%;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
	margin: 0 auto;
}
#paginaPlataforma .plataforma .hover_info {
	display: none;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.8;
	color: #FFF;
}
#paginaPlataforma .plataforma .hover_info h2 {
	position: absolute;
	text-transform: uppercase;
	font-size: 14px;
	color: white;
	font-family: 'oswald';
	font-weight: 700;
	top: 45%;
	left: 24%;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
	margin: 0 auto;
}
#paginaPlataforma .plataforma:hover .hover_info{
	display: block;
}
#paginaPlataforma .plataforma:hover .hover_info h2{
	display: block!important;
}
#paginaPlataforma .plataforma:hover h2{
	display: none;
}
#paginaInternaSoluciones .container{
	padding-bottom: 40px;
}
/* empresa */
#paginaEmpresa .container{
	padding-bottom: 40px;
}
#paginaEmpresa h2.subtitulo{
	margin: 0 0 20px 0;
	line-height: 35px;
}
#paginaEmpresa img{
	width: 100%;
	height: auto;
}
#menuEmpresa ul{
	list-style: none;
	margin: 0!important;
	padding: 0!important;
}
#menuEmpresa ul li{
	border: 1px solid #be1116;
	display: block;
	margin-bottom: 10px;
}
#menuEmpresa ul li a{
	font-size: 16px;
	line-height: 27px;
	font-family: 'oswald';
	font-weight: 300;
	text-transform: uppercase;
	color: #be1116;
	display: block;
	padding: 15px;
}
#menuEmpresa ul li a:hover,#menuEmpresa ul li.current_page_item a, body.page-parent #menuEmpresa li.first a{
	color: white !important;
	background: #be1116;
	text-decoration: none;
}
#paginaEmpresa{
	padding-top: 80px;
}
/* Contáctenos */
#contactenos{
	width:100%;
	height: 1030px;
	background: url('../assets/images/bgContacto.jpg') no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	position: relative;
}
#contactenos .formBody{
	width:480px;
	height: auto;
	background: rgba(0,0,0,0.7);
	display: block;
	position: absolute;
	right: 120px;
	top:160px;
	padding: 35px 30px;
}
#contactenos .formBody h1{
	font-size: 30px;
	line-height: 20px;
	font-family: 'oswald';
	font-weight: 300;
	color: white;
	text-transform: uppercase;
	text-align: center;
}
#contactenos .formBody h1 span{
	font-family: 'oswald';
	font-weight: 400;
	color: white;
}
#contactenos .formBody p {
	margin: 0 0 10px;
	font-size: 15px;
	line-height: 20px;
	font-family: 'oswald';
	font-weight: 300;
	text-align: left;
	margin: 0;
	padding: 10px 0;
}
#contactenos .formBody input[type="text"]{
	width: 100%;
	background-color: transparent;
	text-transform: uppercase;
}
#contactenos .formBody input[type="submit"] {
	width: 40%;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 25px;
	color: #be1116;
	border: 1px solid #be1116;
	background-color: white;
	margin-top: 30px;
}
#contactenos .formBody input[type="submit"]:hover {
	color: white;
	border: 1px solid transparent;
	background-color: #be1116;
	text-decoration: none;
}

#contactenos #info{
	height: 130px;
	width: 100%;
	background: rgba(0,0,0,0.7);
	position: absolute;
	bottom: 0;
	text-align: center;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
}
#contactenos #info h3 a {
	width: inherit!important;
	border: none!important;
	padding: 0!important;
	background: transparent;
	color: white;
	font-size: 16px;
	line-height: 20px;
	margin:0 20px;
	font-weight: 300;
}
#contactenos #info h3 a:hover {
	background: transparent!important;
	color: white!important;
	text-decoration: underline;
}
#contactenos #info h3 a img {
	vertical-align: text-top;
	margin-right: 10px;
}

#contactenos #info h3{
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
	font-family: 'oswald';
	font-weight: 300;
	color: white;
}
#contactenos #info h3 span{
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
	font-family: 'oswald';
	font-weight: 400;
	
}
#contactenos #info a{
	width: 380px;
	text-transform: uppercase;
	color: #be1116;
	border: 1px solid #be1116;
	background: white;
	margin-top: 15px;
	font-family: 'oswald';
	font-weight: 300;
	cursor: pointer;
	display: inline-block;
	padding: 15px;
}
#contactenos #info a span{
	font-family: 'oswald';
	font-weight: 400;
}
#contactenos #info a:hover{
	color: white;
	border: 1px solid transparent;
	background-color: #be1116;
	text-decoration: none;
}



/* Footer */

#info{
	padding: 0px 0px 50px 0px;
}
.coninfo{
	height: 290px;
	border:1px solid #c6c6c6;
}
.coninfo h3{
	font-family: 'oswald';
	font-weight: 400;
	font-size: 20px;
	line-height: 21px;
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 40px;
	text-align: center;
}
.coninfo h3 span{
	font-family: 'oswald';
	font-weight: 700;
}
.coninfo p{
	font-family: 'Titillium Web';
	font-weight: 200;
	font-size: 15px;
	line-height: 21px;
	width: 230px;
	color: #aaaaaa;
	margin: 0 auto;
	text-align: center;
}
p.twitter{
	width: 250px!important;
	text-align: justify!important;
	margin-bottom: 20px!important;
}
p.twitter a{
	color:#d26e50!important;
}
p.twitter span{
	color:black!important;
}

ul.twitter{
	padding: 0;
	list-style-position: inside!important;
	list-style-image: url('../assets/tweetBird.png')!important;
}
ul.twitter li{
	text-align: justify!important;
}
.coninfo ul{
	list-style: none;
	padding: 0;
}
.coninfo ul li{
	text-align: center;
}
.coninfo ul li a,
.coninfo ul a{
	font-family: 'Titillium Web';
	font-weight: 200;
	line-height: 21px;
	color: #aaaaaa;
	display: block;
	text-align: center;
	font-size: 18px !important;
}
#contacto{
	height:50px;
	background-color: black;
	padding-left: 0px;
	padding-right: 0px;
	overflow: hidden;
	width: 100%;
	position: fixed;
	bottom: 0px;
	z-index: 1;
}
.concon p{
	font-size: 12px;
	line-height: 25px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 25px;
	font-family: 'oswald';
	font-weight: 300;
	margin-top: 15px;
	color:#535353;
	text-align: center;
}
.concon p a{
	color: #64b358!important;
	font-weight: bold;
}
.izq{
	text-align: left;
}
.der{
	text-align: right;
}
.cent{
	text-align: center;
}
.test{
	
	background-color: yellow;
	border:1px solid green; 
	height: 10px;
}
.limpia{
	margin-right: 0px!important;
	margin-left: 0px!important;
}

/* Clasesitas Varias */

h2.subtitulo{
	font-size: 30px;
	line-height: 60px;
	font-family: 'oswald';
	font-weight: 300;
	color:#3c3c3c;
	text-transform: uppercase;
}
#contPost h2.subtitulo{
	line-height:inherit;
}
h2.subtitulo span{
	font-family: 'oswald';
	font-weight: 400;
	width: 100%;
	display: block;
}
h2.sidebar{
	font-size: 24px;
	line-height: 30px;
	font-family: 'oswald';
	font-weight: 300;
	color:#be1116;
	text-transform: uppercase;
	text-align: center;
  margin-top: 60px;
}
h2.sidebar span{
	font-family: 'oswald';
	font-weight: 400;
}
p.titulo{
	font-size: 36px!important;
	line-height: 40px!important;
	font-family: 'oswald'!important;
	font-weight: 300!important;
	text-transform: uppercase;
}
p.titulo span{
	font-size: 36px!important;
	line-height: 40px!important;
	font-family: 'oswald'!important;
	font-weight: 400!important;
}
.mitad{
	margin:0 5%;
}
.imgArt{
	padding-left: 0px;
	padding-right: 0px;
	width:30%;
}
.imgArt img{
 	width:100%;
 	height: auto;
 	margin-top: 30px;
 }
.noPadding{
	padding-left: 0!important;
}
.masNoticias{
	width: 100%;
	height: 220px;
	background: url('../assets/images/internaNoticia.jpg') no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	position: relative;
	margin-bottom: 25px;
	overflow: hidden;
}
.masNoticias img{
	height: 100%;
	width: 100%;
}

.masNoticias h4{
	position: absolute;
	color: white;
	bottom: 15px;
	height: 77px;
	font-family: 'oswald';
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	margin: 0;
	padding: 10px 30px 10px 10px;
	overflow: hidden;
	background-color: rgba(0,0,0,0.7);
	text-transform: uppercase;
	width: 100%;
}
.masNoticias a {
	width: 100%;
	height: 100%;
	display: block;
	cursor: pointer;
}
.masNoticias a:hover h4 {
	color:#be1116;
}
ul.casoenlinea li{
	display: inline-block;
	width: 100%;
}
ul.casoenlinea {
	display: inline-block;
	width: 100%;
	padding: 0px !important;
}
/*.bx-wrapper{
	max-width: 410px !important;
}
.bx-wrapper .bx-viewport{
	background-color: transparent !important;
	box-shadow: none !important;
	border: none !important;
}*/
/* PEGADO PEGAFDO */
/******Twitter Widget*******/
.widget_tweetblender  .widgettitle, .tb_header, .tb_footer, .tb_tweet .tb_photo , .tb_author{
display:none;

}
#sector{
	height:300px;
}
.tb_msg a
{
color: #dd927b!important;
font-weight: 900!important;

}

.tb_msg {
background-color: transparent;
border: none;
color:#bfbfbf;
}
.tb_tweet-info, .tb_tweet-info a{
color: #858585!important;

}
/**********Mapa******/
 /**********Mapa******/
 #sedes div{
     
     display: inline-block;
     
     
 }
 #sedes #titulo_mapa{
  display: block;
margin: 0 auto;
max-width: 110px;
 
 }
 
 #sedes {
text-transform: uppercase;
max-width:400px; height:103px; background-color: #4c3e3b; position: absolute; bottom: 0px; opacity: 0.8; overflow: auto; bottom: 20px; left: 218px;
 }
 #sedes span
 {
	 font-weight: 300;
 }
 #sedes p {
     margin: 0 auto;
      font-family: 'oswald';
     display: inline-block;
     color: #fff;
 }
  .page-id-127 #sedes p, .page-id-624 #sedes p {
  	display: inline-block;
  	float: left;
  	padding: 8px 0px;
  	margin-right: 20px;
 }
  #representantes{
  display:block!important;
  margin: 0 auto;
  width: 100%;
  
  }
.page-id-127 #representantes,.page-id-624 #representantes{
	width:370px;

}
 #representantes p{
    background-color: #fff;
    color: #be1116;
    border: solid #be1116 1px;
    text-transform: uppercase;
    padding: 8px 18px 8px 15px !important;
    font-family: 'oswald';
    text-align: center;
    width: 100%;     
 }
#info_mapa:after{
	content: "";
	position: absolute;
	top: -29px;
	right: 125px;
	background: url('../assets/images/arrow-home.png') no-repeat 0px 0px;
	width: 50px;
	height: 50px;
}

#mapa_colombia{
	position: relative;
}
#mapa_colombia:before,
#mapa_colombia_en:before{
	content: " ";
	position: absolute;
	width: 60px;
	height: 60px;
	background: url('../assets/images/colombia.png') no-repeat center left;
	top: -23px;
	left: -4px;

}
.page-id-127 #mapa_colombia:before, .page-id-624 #mapa_colombia:before{

	background: url('../assets/images/colombia2.png') no-repeat center left;
}
.page-id-127 #mapa_peru:before, .page-id-624 #mapa_peru:before{

	background: url('../assets/images/peru2.png') no-repeat center left;
}
.page-id-127 #mapa_brasil:before, 
.page-id-624 #mapa_brasil:before{

	background: url('../assets/images/brasil2.png') no-repeat center left;
}
#mapa_peru{
	position: relative;
}
#mapa_peru:before,
#mapa_peru_en:before{
	content: " ";
	position: absolute;
	width: 60px;
	height: 60px;
	background: url('../assets/images/peru.png') no-repeat center left;
	top: -23px;
	left: -4px;

}
#mapa_brasil{
	position: relative;
}
#mapa_brasil:before,
#mapa_brasil_en:before{
	content: " ";
	position: absolute;
	width: 60px;
	height: 60px;
	background: url('../assets/images/brasil.png') no-repeat center left;
	top: -23px;
	left: -4px;

}
body.home #sedes{
	padding: 10px 18px!important;
	margin-bottom: 0px;
	min-height: 123px;
	min-width:400px !important;
}
 ul#list_sedes{
	display: block;
	padding: 10px 0px 10px 9px;
	margin: 0px auto 20px !important;
	max-width: 348px;
}
.page-id-127 ul#list_sedes, .page-id-624 ul#list_sedes{
	max-width: inherit;
 }
 ul#list_sedes li{
	color: #fff;
	float: left;
	padding: 0px 16px 0px 23px;
	margin: 0px;
	font-size: 13px;
	font-family: 'oswald';
	font-weight: 300;
	position: relative;
	cursor: pointer;
}
 ul#list_sedes li:first-child{
 	list-style-type: none;
 	padding-right: 25px;
}
 ul#list_sedes li:last-child{
 	padding-right: 0px;

}
 ul#list_sedes li#mapa_centroamerica{
 	padding-left: 0px;

}

.page-id-127 input[type="text"],
.page-id-127 input[type="email"],
.page-id-127 textarea, 
select,
.page-id-624 input[type="text"],
.page-id-624 input[type="email"],
.page-id-624 textarea{
	width: 100%;
	margin: 15px auto;
	display: block;
	border: 1px solid #fff;
	background-color: transparent;
	font-family: 'Oswald';
	font-weight: 300;
	color: #fff;
	font-size: 13px;
	padding: 5.3px 10px;
}
select{
	margin: 0px auto!important;
	outline: none;
	color: #B4ABA9!important;
	height: 30px;
	padding-top: 2px;
	font-family: 'Oswald' !important;
	font-weight: 100 !important;
}
.page-id-127 textarea, .page-id-624 textarea{
	height: 110px;
}
.page-id-127 input[type="submit"], .page-id-624 input[type="submit"]{
	width: 39%;
	margin: 0px auto;
	padding: 10px;
	background-color: #fff;
	border: solid 1px #be1116;
	color: #be1116;
	font-family: Oswald;
	display: block;
	margin-top: 30px;
	text-transform: uppercase;
	font-weight: 300;
}
.nuestrassedes{
	margin: 0px auto;
	display: block !important;
	width:460px;
}

div.tb_tweetlist {
	width: 220px;
	margin: 0px auto !important;
	display: block;
	font-family:'Titillium Web';
	font-size:15px;
}
div.tb_tweet{
	border:none !important;
}
.tb_msg{
	position:relative;
	padding-left:18px;
	font-family:'Titillium Web';
}
.tb_msg:before{
	content: "";
	position: absolute;
	left: -2px;
	top: 5px;
	background: url('../assets/tw.png') no-repeat;
	width: 20px;
	height: 15px;
}
.tb_tweet-info, .tb_tweet-info a {
	color: #000 !important;
	font-size: 13px;
}
div.tb_tweetlist{
	border:none !important;
}
div.tb_tweet {
	max-height: 68px;
	text-align: left;
	margin-bottom:15px;
}
.sharet{
	display: inline-block;
	float: right;
	margin-top:60px;
}
.sharet.top{
	position: absolute;
	top: 20px;
	right: 0px;
	padding-right:50px;
	margin-top:0px;
	top:10px;
}
#paginaPlataforma .sharet{
	display: none;
}
#menuTheThird ul li.current-menu-item a, #menuTheThird ul li.current-menu-parent a {
	color:#efc33d;
}
.newsletter input[type="email"] {
	border: 1px solid #535353;
	margin: 0px;
	width: 100%;
	font-size: 12px;
	text-transform: initial;
	height: auto;
	padding: 5px 10px;
	background-color: transparent;
	outline: none;
}
.newsletter span.wpcf7-form-control-wrap{
	display: inline-block;
	float: left;
}
.newsletter input[type="submit"],
.newsletter input[type="submit"]:hover{
	float: left;
	border: 1px solid #535353;
	height: 29px;
	/* margin-left: 3px; */
	background: url(../assets/images/newsletter-img.png) no-repeat center #000;
	text-indent: -99px;
	/* min-width: 35px; */
	z-index: 100;
	position: relative;
	color: #000;
	margin-top: 0px;
	width: 20%;
	padding: 0px;
	max-width: 35px;
}
.newsletter input[type="submit"]:hover{
	background: url(../assets/images/newsletter-img.png) no-repeat center #be1116;
}
.newsletter{
	display: block;
	/*width: 65%;*/
	width: 80%;
	margin: 10px auto;
}
.wrapper_news{
	display: block;
	width: 90%;
	margin: 0px auto;
}
.newsletter span.wpcf7-form-control-wrap{
	width: 80%;
}
.newsletter .wpcf7-not-valid-tip{
	left: 1px !important;
	color: #fff!important;
	text-align: left;
	background-color: #000!important;
	padding: 4px 0px 5px 10px!important;
	top: 0px !important;
	border: 1px solid #cb4145 !important;
	width: 100% !important;
	font-size: 13px;
}
.widget-easy-twitter-feed-widget-container .row{
	display: none;
}
/*********** TAG *************/
.tag h2{
	font-family: 'oswald';
}
.tag ul li a{
	color: #aaaaaa;
}
.tag ul li a:hover{
	text-decoration: underline;
}
#content.tag{
	padding-top: 100px;padding-bottom: 40px;
}
#comments{
    display: block;
    width: 100%;
}
#comments h3{
    font-size: 24px;
    line-height: 30px;
    font-family: 'oswald';
    font-weight: 300;
    color: #be1116;
    text-transform: uppercase;
    text-align: left;
    margin-top: 60px;
}
#comments form textarea{
    resize: none;
    width: 100%;
    padding: 5px;
}
#comments .comment-form-author,
#comments .comment-form-email{
    display: block;
    width: 45%;
    float: left;
}
#comments .comment-form-author input,
#comments .comment-form-email input{
    display: block;
    width: 100%;
    color: #000;
    padding: 5px;
}
#comments .comment-form-author{
    margin-right: 10%;
}
#comments .comment-form-comment{
    clear: both;
    margin: 20px 0px 0px 0px;
    display: inline-block;
    width: 100%;
}
#comments .comment-body a{
    color: #be1116;
}
/**
* Page Full 
*/
.wrapper-page-full{
	padding-top: 80px;
	padding-bottom: 40px;
} 
.wrapper-page-full .content-info{
    font-size: 15px;
    line-height: 21px;
    font-family: 'Titillium Web';
    font-weight: 200;
    color: #444;
    text-align: justify;
}
.wrapper-page-full .content-info p{
	margin-bottom: 0px;
}
.wrapper-page-full .content-info h1{
	margin: 0 0 20px;
	font-size: 30px;	
    font-weight: 300;
    color: #3c3c3c;
    text-transform: uppercase;
	font-family: oswald;
}
#contact_form .checkbox a{
	color: #FFF;
}
/*==================================================
=            AZ-Lógica Responsive             =
==================================================*/

#noticias .noticia div{
	padding: 0!important;
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
/* Styles */
	body.home #sedes{
		left: 10px !important;
	}
	#contacto{
		padding-left: 0px;
		padding-right: 0px;
	}
	.concon p{
		font-size: 10px;
	}
	.col-sm-10 {
		width: 100% !important;
	}
	.col-sm-7 {
		width: 75% !important;
	}
	.col-xs-10 {
		width: 100% !important;
	}
	#contPost{
		width: 75% !important;
	}
	#paginaNoticiasInterna #sidebar{
		width: 25% !important;
	}
	h2.sidebar{
		margin-top: 0px;
	}
	.masNoticias img{
		height: auto;
	}
	#menuEmpresa {
		width: 25% !important;
	}
	.newsletter{
		width: 100%;
	}
	#masSoluciones .col-xs-10,
	#masSoluciones .col-xs-10 .col-xs-6{
		width: 50% !important;
	}
	.col-sm-3.col-xs-10{
		width: 25% !important;
	}
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	#sticky, #idioma {
		width: 100%;
	}
	#menuTheThird {
		margin-right: 40px;
	}


}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#soluciones p, #plataforma p, #contactanos p {
		width: auto;
	}
	#soluciones ul li {
		min-width: 0px!important;
		width: 28%;
	}
	#contacto{
		height: auto;
	}
	.izq, .cent, .der {
		text-align: center;
	}
	.coninfo{
		overflow: hidden;
	}
	.coninfo p{
		width: 100%;
	}
	p.twitter {
		width: 100%!important;
	}
	#menuTheThird {
		margin-right: 0px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.navbar-inverse .navbar-collapse {
		border-color: #101010;
		width: 230px;
		float: right;
		margin-top: 50px;
	}
	#soluciones ul {
		padding: 0 25px;
	}
	#soluciones ul li {
		min-width: 0px!important;
		width: 100%;
		margin-bottom: 15px;
	}
	#noticias .noticia {
		width: 97%;
		margin-right: 1.5%;
		margin-left: 1.5%;
		margin-bottom: 25px;

	}
	#noticias .noticia div{
		overflow: hidden;
		height: 300px;
	}
	#noticias .noticia div img{
		width: auto;
		height: 100%;
	}
#noticias .noticia a {
	/*margin: 10px auto;*/
	/*position: absolute;*/
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 0px!important;
	/*width:60%;*/
}

#noticias .noticia a.more {
	margin: 10px auto;
	position: absolute;
	width:60%;
	min-width: 0px !important;
}
#noticias .noticia .image-news a {
	height:100%;
	max-height:300px;
	overflow:hidden;
	max-width:286px;
}
#noticias .noticia p {
	height: 145px;
	overflow: hidden;
}
.col-xs-12.concon.der ul{
	list-style-type:none;
	float:none;
}
.col-xs-12.concon.der ul li{
	width:25%;
	float: left;
	display:inline-block;
	margin:20px 0px;
}
body.home #contact_form, 
body.page-id-127 #contact_form,  
body.page-id-624 #contact_form{
	right:0 !important;
	width:100% !important;
	top:0% !important;
}
body.page-id-127 #contact_form, 
body.page-id-624 #contact_form{
	top:20% !important;
}
body.home #sedes{
	left:0 !important;
	width:100% !important;
	bottom:0px !important;
	display:none;
}
#plataforma .plataforma .hover_info h2, #plataforma .plataforma h2{
	left:0%;
}
.bx-wrapper .bx-controls-direction a.bx-prev{
	left:-12px !important;
}
.bx-wrapper .bx-controls-direction a.bx-next{
	right:-12px !important;
}
body.home #header{
	max-height:194px;
	
}
#soluciones h1, #plataforma h1, #clientes h1,#noticias h1,#contactanos h1{
	width:80%;
	font-size:28px;
}
#plataforma .plataforma h2{
	min-width:100px;
	width:100%;
	font-size:16px;
}
.solucion .bola{
	width:110px;
	height:110px;
	max-height:110px;
	padding-bottom:0px;
	margin:0px auto;
}
.solucion .bola svg{
	width:60%;
	top:5px;
	
	}
.home input[type="text"],
.home #contact_form input[type="email"],
.home textarea, .home select{
	width:80%;
}
#paginaNoticias #content{
	padding-bottom: 40px;
}
#paginaNoticias .noticia{
	width:100%;
	margin:0px auto 10px !important;
	display:block;
}
#paginaNoticias .col-xs-10{
	float:none;
	margin:0px auto;
}
#paginaNoticias .noticia h3, #paginaNoticias .noticia p,#paginaNoticias .noticia{
	min-height:20px;
	position:relative;
	z-index:9;
}
#paginaNoticias .image-news{
	max-height:200px;
	overflow:hidden;
}
#headerNoticias h1, #headerNoticias p, #headerNoticias a{
	width: 80%;
	margin: 0px auto;
	display: block;
	float: none;
	text-align: center;
}
#headerNoticias a{
	margin:10px auto;
}
#headerNoticias h1 span{
	text-align:center;
}
#headerNoticias{
	height:auto;
	padding-bottom:10px;
}
.alm-btn-wrap{
	padding:10px 1px 30px !important;
}
a.cargarMas, #load-more{
	width:	100%;
	padding:0px;
	margin:0px;
}
#contPost, #paginaNoticiasInterna #sidebar {
	float:none;
	margin: 0px auto;
	padding:0px;
}
 .breadcrumbs {
	margin: 0px auto;
	width: 80%;
	float: none;
	display: block;
	padding: 0px;
	text-align: center;
}
.sharet.top {
	top: 0px;
	padding-right: 0px;
}
h2.sidebar{
	margin-top:150px;
}
#sidebar{
	padding:0px;
	margin:0px auto;
	float:none;
}
#menuEmpresa {
	margin: 20px auto;
	display: block;
	float: none;
}
#sticky a img{
	width: 40%;
	padding-top: 10px;
}
#lang_sel {
	margin-right: 30%;
}
#map{
	display: none;
}
#menu{
	position: fixed !important;
	top:0  !important;
}
#fondo .tituloInterna{
	top: 30px;
}
#fondo h1{
	font-size:25px;
	line-height:1;
}
#masSoluciones{
	height:auto;
}
h2.sidebar{
	margin-top:30px;
}

#masSoluciones .col-xs-10, #masSoluciones .col-xs-10 .col-xs-6 {
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px auto;
	display: block;
	float: none;
}
.navbar-nav li ul.sub-menu{
	display:inherit;
}
.navbar-inverse .navbar-collapse > ul > li{background: rgba(0,0,0,0.7) !important;}
#sedes{
	display:none;
}

}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.col-xs-2.solucion {
	min-height: 210px;
	}
	.slide_type1{height: 365px;}
	.coninfo {
		width: 100%;
	}
	.concon{
		width: 100%;
	}
	.coninfo p{
		width: 230px;
	}
	p.twitter {
		width: 230px!important;
	}
	.newsletter{
		width: 100%;
	}
	.newsletter input[type="email"]{
		width: 100%;
		text-align: center;
	}
	.newsletter input[type="submit"]{
		width: 100%;
		margin: 5px 0px 0px 0px;
	}
	#contacto div.wpcf7-validation-errors{
		display: block;
		left: 0px;
		width: 100%;
		top: -20px;
	}
	.newsletter .wpcf7-not-valid-tip{
		width: 100% !important;
	}
	#contacto div.wpcf7-mail-sent-ok{
		display: block;
		left: 0px;
		width: 100%;
		top: -10px;
	}
	.navbar-nav li ul.sub-menu{
		background: transparent;
	}
	.navbar-inverse .navbar-collapse,
	.navbar-inverse .navbar-form {
		border-color: #101010;
		margin: 0px auto;
		float: none;
		width: 90%;
		padding-top:7px;
		border:0px
	}
	.breadcrumbs{
		width: 100%;
		text-align: left;
		padding: 0px 0px 0px 40px;
	}
	#fondo{
	margin-top: 25%;
	}
	#headerNoticias p{
		display:none;
	}
	#fondo .image-news{
		display: none;
	}
	#fondo .img_movil{
		display: block;
		width: 100%;
	}
	#fondo h1{
		width: 100%;
	}
	#fondo h1 span{
		text-align: left;
		font-size: .5em;
	}
	#headerNoticias a{
		display: block;
		width: 40%;
		float: right;
	}
	.tp-bullets{
		display: none;
	}
	#banner_home{
		position: relative;
		margin-top: 25%;
	}
	#noticias .noticia h3{
		font-size: 1.2em;
	}
	#noticias .noticia p{
		display: none;
	}
	#masSoluciones .col-xs-10,
	#masSoluciones .col-xs-10 .col-xs-6{
		width: 100%;
	}
	#contacto{
		position: relative;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	
}
@-moz-document url-prefix(){  
	.alm-btn-wrap {
		left: -136px;
		position: relative;
		width: 130px;
	}
}
/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

	body{
		padding-top: 80px;
	}
	#menu{
		top: 0px;
		position: fixed;
	}
	#sedes {
		width: 40%;
		max-width: 400px!important;
		left: 5%!important;
	}
	#contact_form input[type="text"] {
		display: block;
		border: solid 1px #FFF;
		background: transparent;
		width: 100%;
		height: 35px;
		margin: 0px auto 20px;
		font-size: 15px;
		font-family: 'oswald';
		font-weight: 100;
		padding: 5px;
		color: #fff;
		text-transform: uppercase;
	}
	#contact_form input[type="email"] {
		display: block;
		border: solid 1px #FFF;
		background: transparent;
		width: 100%;
		height: 35px;
		margin: 0px auto 20px;
		font-size: 15px;
		font-family: 'oswald';
		font-weight: 100;
		padding: 5px;
		text-transform: uppercase;
		color: #fff;
	}
	#contact_form textarea {
		text-transform: uppercase;
		padding: 5px;
		display: block;
		margin: 0px auto 25px;
		border: solid 1px #FFF;
		background: transparent;
		resize: none;
		width: 100%;
		height: 100px;
		font-size: 15px;
		font-family: 'oswald';
		font-weight: 100;
		color: #fff;
		resize: none;
	}
	#contact_form input[type="submit"] {
		width: 150px;
		height: 40px;
		background: #FFF;
		font-family: 'oswald';
		text-transform: uppercase;
		color: #be1116;
		font-weight: 100;
		border: solid 1px #be1116;
		display: block;
		margin: 0px auto;
		cursor: pointer;
		font-size: 15px;
		outline: none;
	}
	#masSoluciones .col-xs-10,
	#masSoluciones .col-sm-6{
		width: 50%!important;
	}
	
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	body{
		padding-top: 80px;
	}
	.collapse {
		display: none!important;
	}
	.collapse.in {
		display: block!important;
	}
	.navbar-collapse {
		padding-right: 15px;
		padding-left: 15px;
		overflow-x: visible;
		-webkit-overflow-scrolling: touch;
		border-top: 1px solid transparent;
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
		box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	}
	.navbar-inverse .navbar-collapse {
		border-color: #101010;
		width: 230px;
		float: right;
		margin-top: 50px;
	}
	.navbar-toggle{
		display: block!important;
	}
	/*.navbar-collapse.collapse{
		display: none!important;
	}*/
	.navbar-inverse .navbar-collapse > ul > li{
		width: 100%;
	}
	#sticky a img{
		width: 25%;
	}
	#noticias .noticia .col-xs-6{
		width:50%;
	}
	#masSoluciones .col-xs-10,
	#masSoluciones .col-sm-6{
		width: 60%!important;
	}
	
}

/*widget h2*/
li#widget-easy-twitter-feed-widget-kamn-2 h2.widgettitle{
	display: none!important;
}
#footer #contacto{ height:60px;}
.newsletter span.Leyaceptolaspolticasdeprivacidad{ width:auto;}
.newsletter label{
	color: #A9A99E;
    font-family: 'oswald';
    font-weight: 300;
    font-size: 12px;
    margin: 0px;
    padding: 0px 0 0 0px;
    float: left;
    text-indent: 4px;
}
.newsletter label a{color: #A9A99E;}